{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "**/.scss",
        "**/*.scss",
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "**/*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    }
  ],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true
}
